:root {
  --duckHitOrMissIconsWidth: 25vw;
}

.allShotInOneImage {
  position: relative;
  width: 20vw;
}

.allShotInOneImage > img {
  width: 100%;
}

.firstShootHide,
.secondShootHide,
.thirdShootHide {
  position: absolute;
  background-color: black;
  width: 33.33%;
  height: 50%;
}

.firstShootHide {
  left: 0;
  top: 0;
}

.secondShootHide {
  left: 33.33%;
  top: 0;
}

.thirdShootHide {
  left: 66.66%;
  top: 0;
}

.ducksHitsOrMissCounterContainer {
  display: flex;
  align-items: center;
  background-color: black;
  width: fit-content;
  padding: 2%;
  border-radius: 2vw;
}

.duckHitOrMissIcons {
  display: flex;
  flex-direction: row;
  width: var(--duckHitOrMissIconsWidth);
}

.duckHitOrMiss1,
.duckHitOrMiss2,
.duckHitOrMiss3,
.duckHitOrMiss4,
.duckHitOrMiss5,
.duckHitOrMiss6 {
  width: 16.67%;
  padding: 0;
  margin: 0;
}

.duckHitOrMissIcons > div > img {
  width: 100%;
  height: auto;
  display: block;
}

.hits {
  color: white;
  font-size: calc(var(--duckHitOrMissIconsWidth) / 6);
  white-space: nowrap;
}
