@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/** GLOBAL STYLES */
* {
    font-family: 'Pixelify Sans', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sprite-duck {
  background: url('assets/DuckHuntSprites.png') no-repeat;
  width: 34px;
  height: 31px;
  position: absolute;
  transform: scale(2);
  transform-origin: center center;
  z-index: 1;
}
.sprite-dog {
	background: url('assets/DuckHuntSprites.png') no-repeat;
	width: 58px;
	height: 43px;
    transform-origin: center center;
    z-index: 10;
    top: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
  	--duckHitOrMissIconsWidth: 25vw;
  	--scoreContainerWidth: 15vw;
  	--roundsContainerWidth: 10vw;
  	--gameAreaHeight: 35vw;
  	--border-radius: 16px;
  	--container-height: 80px;
  	--text-color: white;
  	--bg-color: black;
  	--font-size: 24px;
}

/** MAIN GAME CONTAINER */
.gameContainer {
  	height: 100vh;
    display: flex;
    flex-direction: column;
  	background-color: skyblue;
}

/** GAME AREA SECTION */
.gameArea {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 65%;
}
.dogArea{
  position: absolute;
  width: 100%;
  height: 65%;
}
.treeContainer {
    position: relative;
    height: fit-content;
    bottom: -10%;
}

.treeContainer img {
    width: 400px;
}

.bushContainer {
    position: relative;
    width: 300px;
    height: fit-content;
    bottom: -20%;
}

.bushContainer img {
    width: 100%;
}

/** INFO AND GRASS CONTAINER */
.infoGrassContainer {
    display: flex;
    flex-direction: column;
    height: 35%;
}

.grass {
    position: relative;
    width: 100%;
    height: 70%;
    z-index: 2;
}

.grass img {
    width: 100%;
    height: 100%;
}

.infoContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 30%;
    background-color: #887000;
}

/** COMMON UI CONTAINER STYLES */
.shootsContainer,
.roundsContainer,
.ducksHitsOrMissCounterContainer,
.scoreContainer {
    margin-bottom: 8px;
    border-radius: 8px;
    border: 3px solid lightgreen;
}

/** SHOOTS AND ROUNDS SECTION */
.shootsAndRoundsContainer {
    position: relative;
    width: 120px;
    z-index: 3;
}

.roundsContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 8px;
    height: 40px;
    background-color: var(--bg-color);
}

.roundsContainer > span {
    color: var(--text-color);
    font-size: 32px;
}

.shootsContainer {
    position: relative;
    width: 100%;
    height: var(--container-height);
}

.shootsContainer > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.bulletsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.firstShootHide,
.secondShootHide,
.thirdShootHide {
    position: absolute;
    width: 33.33%;
    height: 55%;
    border-radius: 8px;
    background-color: var(--bg-color);
}

.firstShootHide {
    top: 0;
    left: 0;
}

.secondShootHide {
    top: 0;
    left: 33.33%;
}

.thirdShootHide {
    top: 0;
    left: 66.66%;
}

/** DUCK HITS COUNTER SECTION */
.ducksHitsOrMissCounterContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    height: var(--container-height);
    padding-left: 8px;
    background-color: var(--bg-color);
}

.hitsText {
    color: lightgreen;
    font-size: 32px;
}

.duckHitOrMissIcons {
    display: flex;
    flex-direction: row;
    width: var(--duckHitOrMissIconsWidth);
    height: 100%;
    padding: 0 4px;
}

.duckIcon {
    display: flex;
    align-self: center;
    padding: 12px 2px;
}

.duckHitOrMissIcons > div > img {
    width: 100%;
}

.redDuck {
    display: none;
}

/** SCORE SECTION */
.scoreContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 8px;
    font-size: 32px;
    width: 160px;
    height: var(--container-height);
    color: white;
    background-color: var(--bg-color);
}

/** DUCK SPRITES & ANIMATIONS */
.sprite-duck {
    position: absolute;
    background: url('assets/DuckHuntSprites.png') no-repeat;
    width: 34px;
    height: 31px;
    transform-origin: top left;
    z-index: 99;
}

.duckGetShot {
    background: url('assets/DuckHuntSprites.png') no-repeat -131px -238px;
    width: 31px;
    height: 29px;
}

.duckFalling {
    background: url('assets/DuckHuntSprites.png') no-repeat -178px -237px;
    width: 18px;
    height: 30px;
}

.duckEscape {
    transition: transform 1s, opacity 1s;
    transform: translateY(-200px);
    opacity: 0;
}

/** CROSSHAIR STYLES */
.crosshair {
    position: absolute;
    width: 32px;
    height: 32px;
    pointer-events: none;
    z-index: 9999;
}

.crosshair.aim {
    background: url('assets/crosshair.png') no-repeat center center;
    background-size: contain;
}

.crosshair.forbidden {
    background: url('assets/forbbiden.png') no-repeat center center;
    background-size: contain;
}

body.crosshair-active {
    cursor: none;
}


.mainMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  width: 600px;
}
.duckTile {
  color: #66f001;
  font-size: 180px;
  text-shadow: 0px 2px 4px black;
  z-index: 1;
  align-self: flex-start;
}
.huntTile {
  color: #ff6800;
  font-size: 160px;
  text-shadow: 0px 2px 4px black;
  z-index: 1;
  align-self: flex-end;
}

.playButton {
  color: white;
  font-weight: bold;
  background-color: #cfcfcf;
  width: 200px;
  text-align: center;
  border-radius: 16px;
  padding: 0 1%;
  text-shadow: 8px 2px 4px darkslategrey;
  box-shadow: 8px 4px 4px darkslategrey;
  font-size: 60px;
  z-index: 1;
  align-self: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: darkslategrey;
}

.playbutton:hover {
  background-color: #66f001;
}

.inMenu {
  visibility: hidden;
}

.alingGameOverMenu {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.gameOverMenu {
  display: none;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 200px 9px 235px;
  border-radius: 25px;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.653);
  height: 200px;
  z-index: 1;
}
.gameOverTitle {
  color: red;
  font-size: 140px;
  text-shadow: 2px 4px 4px rgb(127, 5, 5);
}
.finalScore{
    font-size: 64px;
    color: lightyellow;
}
.restartButton {
  color: white;
  font-weight: bold;
  background-color: #cfcfcf;
  text-align: center;
  border-radius: 16px;
  padding: 0 1%;
  text-shadow: 8px 2px 4px darkslategrey;
  box-shadow: 8px 4px 4px darkslategrey;
  font-size: 60px;
  z-index: 1;
  align-self: center;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: darkslategrey;
}
