* {
	background-color: skyblue;
}
.sprite-duck {
	background: url("assets/DuckHuntSprites.png") no-repeat;
	width: 34px;
	height: 31px;
	position: absolute;
	transform: scale(2); /* Makes the duck 2x bigger */
	transform-origin: center center; /* Ensures scaling happens from the center */
}

.duck {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
